@model BibliotecaImpacta.Models.Categoria
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir Categoria</h1>

<h3>Tem certeza que deseja excluir?</h3>

<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" title="Descrição"><i class="fas fa-tags"></i></span>
        </div>
        <input value="@Html.DisplayFor(model => model.Descricao)" class="form-control" readonly />
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
</form>