@model BibliotecaImpacta.Models.Categoria
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Categoria</h1>

<div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" title="Descrição"><i class="fas fa-tags"></i></span>
        </div>
        <input value="@Html.DisplayFor(model => model.Descricao)" class="form-control" readonly />
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>