@model BibliotecaImpacta.Models.Emprestimo
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

@{
    ViewData["Title"] = "Deletar";
}

<h1>Devolver Empréstimo</h1>

<h3>Tem certeza que deseja devolver este empréstimo?</h3>

<form method="post" asp-action="Deletar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" title="Nome"><i class="fas fa-user"></i></span>
            </div>
            <input asp-for="Nome" class="form-control" />
        </div>
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" title="Telefone"><i class="fas fa-phone"></i></span>
            </div>
            <input asp-for="Telefone" class="form-control" />
        </div>
        <span asp-validation-for="Telefone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" title="Você confirma a devolução?"><i class="fas fa-check-circle"></i></span>
            </div>
            <select asp-for="Confirmado" class="form-control">
                <option value="">Escolha a opção</option>
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>
        </div>
        <span asp-validation-for="Confirmado"></span>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" title="Livro"><i class="fas fa-book"></i></span>
            </div>
            <select asp-for="LivroId" class="form-control" asp-items="ViewBag.LivroId"></select>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" title="Data de Devolução"><i class="fas fa-calendar-alt"></i></span>
            </div>
            <input asp-for="DataDevolucao" class="form-control" />
        </div>
        <span asp-validation-for="DataDevolucao" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Devolver" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}