@model BibliotecaImpacta.Models.Emprestimo
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
@{
    ViewData["Title"] = "Editar";
}

<h1>Editar Empréstimo</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" title="Nome"><i class="fas fa-user"></i></span>
                    </div>
                    <input asp-for="Nome" class="form-control" />
                </div>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" title="Telefone"><i class="fas fa-phone"></i></span>
                    </div>
                    <input asp-for="Telefone" class="form-control" />
                </div>
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confirmado">Você confirma a devolução do livro?</label>
                <select asp-for="Confirmado" class="form-control">
                    <option value="">Escolha a opção</option>
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
                <span asp-validation-for="Confirmado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" title="LivroId"><i class="fas fa-book"></i></span>
                    </div>
                    <select asp-for="LivroId" class="form-control" asp-items="ViewBag.LivroId"></select>
                </div>
                <span asp-validation-for="LivroId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-secondary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}