@model Emprestimo
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<h1>Cadastro para Empréstimo de Livro</h1>

<form method="post" asp-controller="Home" asp-action="Emprestar">

    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" title="Nome"><i class="fas fa-user"></i></span>
            </div>
            <select asp-for="Nome" class="form-control" asp-items="ViewBag.ClienteNome"></select>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" title="Telefone para contato"><i class="fas fa-phone"></i></span>
            </div>
            <input asp-for="Telefone" placeholder="Digite seu Telefone" class="form-control" />
        </div>
        <span asp-validation-for="Telefone"></span>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" title="Livro"><i class="fas fa-book"></i></span>
            </div>
            <select asp-for="LivroId" class="form-control" asp-items="ViewBag.LivroId"></select>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" title="Você confirma o empréstimo?"><i class="fas fa-check-circle"></i></span>
            </div>
            <select asp-for="Confirmado" class="form-control">
                <option value="">Escolha a opção</option>
                <option value="true">Sim</option>
                <option value="false">Não</option>
            </select>
        </div>
        <span asp-validation-for="Confirmado"></span>
    </div>
    <button type="submit" class="btn btn-secondary">Solicitar Empréstimo</button>
</form>
