@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Biblioteca Impacta</h1>
    <p>
        Aqui você pode realizar empréstimos de livros!
    </p>
    <div><a asp-controller="Livros" asp-action="Index">Veja aqui nosso acervo </a></div>
</div>
