@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Esta política de privacidade descreve como a Biblioteca Impacta coleta, usa e protege as informações que você fornece quando usa nosso site.
</p>

<h2>Coleta de Informações</h2>
<p>
    Podemos coletar informações como nome, endereço de e-mail e outras informações relevantes para pesquisas de clientes e/ou ofertas.
</p>

<h2>Uso das Informações</h2>
<p>
    Usamos as informações coletadas para entender suas necessidades e fornecer um melhor serviço.
</p>

<h2>Segurança</h2>
<p>
    Estamos comprometidos em garantir que suas informações estejam seguras. Implementamos procedimentos físicos, eletrônicos e gerenciais adequados para salvaguardar e proteger as informações que coletamos online.
</p>
